@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<!DOCTYPE html>

<html>

<head>

    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8">
    <title>註冊頁面</title>
    <title></title>




</head>
<body>
    <h5> 這是發案畫面呦！</h5>
    



</body>
</html>
