
@{
    ViewBag.Title = "Receive";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h3>Welcome to Receive page, in this page you can earn extra money from receiving the case that creators given.</h3>
        
    </div>
</body>
</html>
