@{
    ViewBag.Title = "Register";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <form class="" action="add.php" method="post">
            <input type="mail" name="mail" value="" placeholder="輸入註冊信箱">
            <br />
            <input type="text" name="password" value="" panel placeholder="輸入密碼"><br />
            <input type="password" name="pwcheck" value="" panel placeholder="再次輸入密碼"><br />
            <input type="text" name="name" value="" placeholder="輸入姓名"><br />
            <input type="number" name="phone" value="" placeholder="輸入電話"><br />
            <input type="text" name="addr" value="" placeholder="輸入地址"><br />
            <input type="submit" name="" value="註冊">
        </form>
    </div>
</body>
</html>
